@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Категории:</p>

    <ul>
        <li>
            Комплектующие
        </li>
        <li>
            Переферия
        </li>
        <li>
            Каюели
        </li>
    </ul>



</div>
