@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>  



    <ul>
        <li>
            <a href="/goods">Товары</a>
        </li>
    </ul>



</div>
