@{
    ViewData["Title"] = "Товары";
}

<div class="text-center">
    <h1 class="display-4">Товары</h1>
    <p>Категории:</p>

    <ul>
        @foreach (var item in Model)
        {
            <li>
                @item.Name
            </li>          
        }
    </ul>



</div>
